<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title='Number Puzzle Players')">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/navbar :: navbar(page='players')">Navbar</div>

<header id="header">
    <h1 align="center">Number Puzzle Players Page</h1>
    <hr class="hr-primary">
</header>

<section id="players">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 align-self-center m-auto text-center">
                <table>
                    <thead>
                    <tr>
                        <th>Player</th>
                        <th>Correct Guesses</th>
                        <th>Incorrect Guesses</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="player : ${session.players}">
                        <td th:text="${player.name}"></td>
                        <td th:text="${player.correctGuessCount}"></td>
                        <td th:text="${player.incorrectGuessCount}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script
        src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
></script>

</body>
</html>