<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(title='Number Puzzle Players')">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/layout :: navbar(page='players')">Navbar</div>

<header th:replace="fragments/layout :: header(title='Number Puzzle Players Page')"></header>

<section id="players">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 align-self-center m-auto text-center">
                <table>
                    <thead>
                    <tr>
                        <th>Player</th>
                        <th>Correct Guesses</th>
                        <th>Incorrect Guesses</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="player : ${session.players}">
                        <td th:text="${player.name}"></td>
                        <td th:text="${player.correctGuessCount}"></td>
                        <td th:text="${player.incorrectGuessCount}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/layout :: script">Script</div>

</body>
</html>