<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(title='Number Puzzle Player Rankings')">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/layout :: navbar(page='rankings')">Navbar</div>

<header th:replace="fragments/layout :: header(title='Number Puzzle Player Rankings Page')"></header>

<section th:if="${(threeDigitPuzzleRankings != null) && !threeDigitPuzzleRankings.isEmpty()}" id="fourDigitRankings">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 align="center">Three Digit Puzzle Rankings</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 align-self-center m-auto text-center">
                <table>
                    <thead>
                    <tr>
                        <th>Player</th>
                        <th>Correct Guesses</th>
                        <th>Incorrect Guesses</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="player : ${threeDigitPuzzleRankings}">
                        <td th:text="${player.name}"></td>
                        <td th:text="${player.correctThreeDigitGuessCount}"></td>
                        <td th:text="${player.incorrectThreeDigitGuessCount}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div th:height="20"></div>
<hr width="50%">
<div th:height="20"></div>

<section th:if="${(fourDigitPuzzleRankings != null) && !fourDigitPuzzleRankings.isEmpty()}" id="fourDigitRankings">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 align="center">Four Digit Puzzle Rankings</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 align-self-center m-auto text-center">
                <table>
                    <thead>
                    <tr>
                        <th>Player</th>
                        <th>Correct Guesses</th>
                        <th>Incorrect Guesses</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="player : ${fourDigitPuzzleRankings}">
                        <td th:text="${player.name}"></td>
                        <td th:text="${player.correctFourDigitGuessCount}"></td>
                        <td th:text="${player.incorrectFourDigitGuessCount}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/layout :: script">Script</div>

</body>
</html>