<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(title='Number Puzzle Player Rankings')">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/layout :: navbar(page='rankings')">Navbar</div>

<header th:replace="fragments/layout :: header(title='Number Puzzle Player Rankings Page')"></header>

<section id="threeDigitRankings" style="margin-bottom:50px;margin-top:50px">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 align="center">Three Digit Puzzle Rankings</h2>
            </div>
        </div>
        <div th:if="${(threeDigitPuzzleRankings != null) && !threeDigitPuzzleRankings.isEmpty()}" class="row">
            <div class="col-xs-12 align-self-center m-auto text-center">
                <table>
                    <thead>
                    <tr>
                        <th>Player</th>
                        <th>Correct Guesses</th>
                        <th>Incorrect Guesses</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="player : ${threeDigitPuzzleRankings}">
                        <td th:text="${player.name}"></td>
                        <td th:text="${player.correctThreeDigitGuessCount}"></td>
                        <td th:text="${player.incorrectThreeDigitGuessCount}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if="${(threeDigitPuzzleRankings == null) || threeDigitPuzzleRankings.isEmpty()}" class="row">
            <div class="col">
                <h3 align="center">No players have played the three digit puzzle yet</h3>
            </div>
        </div>
    </div>
</section>

<hr width="50%">

<section id="fourDigitRankings" style="margin-top:50px">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 align="center">Four Digit Puzzle Rankings</h2>
            </div>
        </div>
        <div th:if="${(fourDigitPuzzleRankings != null) && !fourDigitPuzzleRankings.isEmpty()}" class="row">
            <div class="col-xs-12 align-self-center m-auto text-center">
                <table>
                    <thead>
                    <tr>
                        <th>Player</th>
                        <th>Correct Guesses</th>
                        <th>Incorrect Guesses</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="player : ${fourDigitPuzzleRankings}">
                        <td th:text="${player.name}"></td>
                        <td th:text="${player.correctFourDigitGuessCount}"></td>
                        <td th:text="${player.incorrectFourDigitGuessCount}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if="${(fourDigitPuzzleRankings == null) || fourDigitPuzzleRankings.isEmpty()}" class="row">
            <div class="col">
                <h3 align="center">No players have played the three digit puzzle yet</h3>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/layout :: script">Script</div>

</body>
</html>