<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(title='Number Puzzle Settings')">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/layout :: navbar(page='settings')">Navbar</div>

<header th:replace="fragments/layout :: header(title='Number Puzzle Settings Page')"></header>

<section id="settings">
    <div class="container">
        <form th:action="@{/settings}" th:object="${player}" method="post">
            <div class="row m-1">
                <b class="mx-1 my-auto">Name:</b>
                <span th:text="*{name}"></span>
            </div>
            <div class="row m-1">
                <b class="mx-1 my-auto">Receive Emails:</b>
                <input class="mx-1 my-auto" type="checkbox" name="receiveEmails" th:checked="*{receiveEmails}"/>
                <input class="mx-1" type="email" size="30" name="emailAddress" th:value="*{emailAddress}" placeholder="Email Address"/>
            </div>
            <div class="row m-1">
                <b class="mx-1 my-auto">Receive Texts:</b>
                <input class="mx-1 my-auto" type="checkbox" name="receiveTexts" th:checked="*{receiveTexts}"/>
                <select id="cellCarrier" class="form-control blu-margin mx-1" width="10" name="cellCarrier"  th:field="*{cellCarrier}">
                    <option th:each="cellCarrier : ${cellCarriers}" th:value="${cellCarrier}" th:text="${cellCarrier}"></option>
                </select>
                <input class="mx-1" type="text" name="cellNumber" th:value="*{cellNumber}" placeholder="Cell Number"/>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button class="btn btn-primary" name="submit" value="submit">Update Player Settings</button>
        </form>
    </div>
</section>

<div th:replace="fragments/layout :: script">Script</div>

</body>
</html>