<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <title th:text="${title}">Title</title>
</head>

<header th:fragment="header(title)" id="header">
    <h1 align="center" th:text="${title}">Title</h1>
    <hr class="hr-primary">
</header>

<nav th:fragment="navbar(page)" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a href="home" class="navbar-brand" th:text="'Number Puzzle v' + ${applicationVersion}">Branding</a>
        <button
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#navbarCollapse"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:classappend="${#strings.equals(page,'index')} ? active : ''">
                    <a href="home" class="nav-link">Home</a>
                </li>
                <li class="nav-item" th:classappend="${#strings.equals(page,'rankings')} ? active : ''">
                    <a href="rankings" class="nav-link">Rankings</a>
                </li>
                <li class="nav-item" th:classappend="${#strings.equals(page,'settings')} ? active : ''">
                    <a href="settings" class="nav-link">Settings</a>
                </li>
                <li class="nav-item">
                    <a href="logout" class="nav-link">Logout (<span th:text="${session.player}"></span>)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div th:fragment="script" th:remove="tag">
<script
        src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
></script>
</div>

<body>

</body>
</html>